{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="h-screen w-full relative ">
    <img class="h-screen w-full" src="{% static 'img/backdrop.jpg' %}" alt="">
    <div class="h-screen w-full bg-gray-900 bg-opacity-20 absolute top-0 left-0"></div>
    <div class="h-4/5 w-2/3 absolute top-[7%] left-[17%] bg-slate-200 rounded-2xl drop-shadow-lg flex">
        <div class="h-full w-[55%] rounded-2xl">
            <img class="h-full rounded-l-2xl" src="{% static 'img/change_password.jpg' %}" alt="">
        </div>
        <div class="w-[45%] h-full relative ">
            <div class=" text-[#1e3164] text-3xl font-semibold  h-auto  absolute top-[10%] left-[15%] leading-[50px] ">Change Your<br>
                Password
            </div>
            {% if form.errors %}
            <!-- <p class=" text-[#1e3164] text-3xl font-semibold  h-auto  absolute top-[20%] left-[19%] leading-[50px]">
                Your username and password didn't match.
                Please try again.
            </p> -->
            {% endif %}
                
                <!-- <input type="text" class="  bg-slate-100 drop-shadow-md border-[#7d9cf0] rounded-md border  "> -->
            
                
                <div class="login-form absolute top-[30%] left-[15%] ">
                    <form method="post">
                        {{ form.as_p }}
                        <p><input type="submit" value="Change" class="h-9 w-11/12 bg-[#304d9b] text-zinc-50 mt-6 cursor-pointer hover:bg-[#6482d6] hover:text-black active:border-none"></p>
                        {% csrf_token %}
                    </form>
                   
                </div>
        </div>
    </div>
</div>
    <script>
        const old_password = document.getElementById("id_old_password");
        const new_password1 = document.getElementById("id_new_password1");
        const new_password2 = document.getElementById("id_new_password2");
        const ul = document.getElementsByTagName("ul");
        old_password.classList.add("h-7","w-11/12","border-[#7d9cf0]", "border-solid", "border", "rounded-md", "drop-shadow-md","mb-5","pl-2","hover:bg-[#abbef3]","hover:border-[#152347]");
        new_password1.classList.add("h-7","w-11/12","border-[#7d9cf0]", "border-solid", "border", "rounded-md", "drop-shadow-md","pl-2", "hover:bg-[#abbef3]","hover:border-[#152347]");
        new_password2.classList.add("h-7","w-11/12","border-[#7d9cf0]", "border-solid", "border", "rounded-md", "drop-shadow-md","mb-3","pl-2", "hover:bg-[#abbef3]","hover:border-[#152347]");
        ul[0].classList.add("text-xs", "my-2", "font-light", "text-[#304d9b]", "w-10/12");
        console.log("Hello!!");
    </script>
    
{% endblock %}