{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class=" w-full h-[720px] bg-gray-500  relative   "  >
        <img class="h-[720px] w-full" src="{% static 'img/graph.jpg' %}" alt="">
        <div class="h-5 w-4/12 lg:w-[600px] bg-[#478ac9] absolute top-[240px] right-1/2 lg:right-[200px] z-10">
        </div>
        <div class=" bg-gray-200 h-[520px] w-5/12 absolute top-[200px] right-1/4 lg:right-0 ">
            <div class=" text-3xl lg:text-6xl font-bold absolute top-24 left-12">
                Analytica
            </div>
            <div class=" text-base lg:text-xl font-serif h-1/2 absolute top-44 left-12 ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. 
                
    
            </div>
        </div>
    </div >
    <div class="h-auto w-full flex ">
    
        <div class="h-[600px] w-1/2 bg-[#478ac9] relative ">
            <div class=" text-white text-4xl font-semibold top-32 left-1/4 lg:left-48 absolute ">
                Perceptron
            </div>
            <div class="h-[1.5px] w-1/4 bg-white absolute top-52 left-1/4 lg:left-48"></div>
            <div class="absolute top-64 left-1/4 lg:left-48 font-light text-base lg:text-lg text-white h-1/3 w-7/12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <div>
                <button class=" absolute w-2/12 h-9 border border-white border-solid rounded-xl bg-[#316fa8] text-white bottom-20 lg:bottom-32 left-1/4 lg:left-48 text-center text-sm lg:text-base hover:bg-blue-900 hover:border-none "><a href="{% url 'analytica:perceptron_models_list' %}"> Plot</a></button>
            </div>
            
        </div>
        <div class="h-[600px] w-1/2 bg-gray-200 relative ">
            <div>
                <img class="h-[350px] w-[600px] drop-shadow-[-10px_-10px_10px_rgba(0,0,0,0.25)] absolute top-1/4 right-1/3" src="{% static 'img/line_graph.jpg' %}" alt="">
            </div>
            <div class="w-[200px] absolute right-1/3 top-[83%] text-right text-black text-base italic">
                Line Graph
    
            </div>
            <div class=" bg-black w-[350px] h-[0.5px] absolute top-[88%] right-1/3 ">
    
            </div>
            
        </div>
    </div>
    <div class="h-auto w-full flex ">
        <div class="h-[600px] w-7/12 bg-gray-200 relative ">
            
          <img class="h-[600px] w-full  absolute top-0 " src="{% static 'img/Bar_graph.jpg' %}" alt="">
            
        </div>
    
        <div class="h-[600px] w-5/12 bg-[#478ac9] relative ">
            <div class=" text-white text-4xl font-semibold top-32 right-1/4 lg:right-48 absolute ">
                Bar Graph
            </div>
            <div class="h-[1.5px] w-2/4 bg-white absolute top-52 right-1/4 lg:right-48"></div>
            <div class="absolute top-64 right-1/4 lg:right-48 font-light text-base lg:text-lg text-white h-1/3 w-7/12 text-right">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <div>
                <button class=" absolute w-2/12 h-9 border border-white border-solid rounded-xl bg-[#316fa8] text-white bottom-20 lg:bottom-32 right-1/4 lg:right-48 text-center text-sm lg:text-base hover:bg-blue-900 hover:border-none "><a href="{% url 'plotter:draw_bar_graph' %}">Plot</a></button>
            </div>
            
        </div>
        
    </div>
    <div class="h-[800px] w-full  bg-gray-200 relative ">
        <div class=" w-1/3 h-full relative ">
            <div class="text-black text-4xl absolute top-[19%] left-[15%] font-semibold ">
                Scatter <br>
                Graph
            </div>
            <div class="h-[1.5px] w-2/4 bg-black absolute top-[36%] left-[15%] "></div>
            <div class="absolute top-[42%] left-[15%] font-light text-base lg:text-lg text-black h-1/3 w-2/3 text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </div>
            <div>
                <a href="{% url 'plotter:draw_scatter_graph' %}">
                    <button class=" absolute w-3/12 h-9 border border-white border-solid rounded-xl bg-[#316fa8] text-white  lg:bottom-[27%]  lg:left-[15%] text-center text-sm lg:text-base hover:bg-blue-900 hover:border-none ">
                        Plot
                    </button>
                </a>
            </div>
    
        </div>
        <!-- <div class=" h-auto w-1/3 absolute top-[9%] left-[36%]"> -->
            <!-- <img class="h-[450px] w-auto  absolute top-0 drop-shadow-[-8px_-8px_8px_rgba(0,0,0,0.25)] " src="{% static 'img/pie_chart.jpg' %}" alt=""> -->
        <!-- </div> -->
        <div  class=" h-auto w-2/4 absolute top-[23%] right-[4%]">
            <img class="h-[520px] w-[700px]  absolute top-0 drop-shadow-[-10px_-10px_10px_rgba(0,0,0,0.25)] " src="{% static 'img/scatter.jpg' %}" alt="">
            
        </div>
        <div class="w-[200px] h-auto absolute right-[8%]  top-[90%] text-right text-black text-base italic">
            Scatter Chart
    
        </div>
        <div class=" bg-black w-[450px] h-[0.5px] absolute right-[8%]  top-[94%]  ">
        </div>
    </div>
    <div class="h-auto w-full flex "></div>
    
        <div class="h-[700px] w-full relative bg-[#0a1242]" >
            <img class="h-[700px] w-full absolute bottom-0" src="{% static 'img/pie.jpg' %}" alt="">
            <div class="h-[700px] w-5/12 absolute right-0 ">
    
                <div class=" text-white text-4xl font-semibold top-32 right-1/4 lg:right-48 absolute z-10 ">
                    Pie Graph
                </div>
                <div class="h-[1.5px] w-1/4 bg-white absolute top-52 right-1/4 lg:right-48 z-10"></div>
                <div class="absolute top-64 right-1/4 lg:right-48 font-light text-base lg:text-lg text-white h-1/3 w-7/12 text-right z-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </div>
                <button class=" absolute w-2/12 h-9 border border-white border-solid rounded-xl bg-none text-white bottom-20 lg:bottom-32  right-1/4 lg:right-48 text-center text-sm lg:text-base hover:border-blue-300 "><a href="{% url 'plotter:draw_pie_graph' %}">Plot</a></button>
                
            </div>
        </div>
            
       
            
            
    </div>
    <div class=" h-24 w-full bg-zinc-900 text-gray-500 text-center text-4xl font-semibold flex justify-center items-center relative">
        MLPEDIA
    
    </div>
    <!-- <h1>analytica index</h1>

    <a href="{% url 'analytica:perceptron_models_list' %}"><h1>perceptron</h1></a>
    <a href="{% url 'analytica:logistic_regression_models_list' %}"><h1>Logistic Regression</h1></a>
    <a href="{% url 'analytica:regression_models_list' %}"><h1>Regression</h1></a>
    <a href="{% url 'analytica:neural_net_models_list' %}"><h1>Neural Net</h1></a>
    <a href="{% url 'analytica:k_means_models_list' %}"><h1>K Means Cluster</h1></a> -->
</body>
</html>
{% endblock %}