<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>analytia index</h1>

    <a href="{% url 'analytica:perceptron_models_list' %}"><h1>perceptron</h1></a>
    <a href="{% url 'analytica:logistic_regression_models_list' %}"><h1>Logistic Regression</h1></a>
    <a href="{% url 'analytica:regression_models_list' %}"><h1>Regression</h1></a>
    <a href="{% url 'analytica:neural_net_models_list' %}"><h1>Neural Net</h1></a>
    <a href="{% url 'analytica:k_means_models_list' %}"><h1>K Means Cluster</h1></a>
</body>
</html>