<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ lr_model.title }}</h1>

    <div>
        <h1>Uploaded Data</h1>
        <h1><a href="{{lr_model.features_input.url}}" download>
            Features Input </a> </h1>
    
        <h1><a href="{{lr_model.labels_input.url}}" download>
            Labels input</a> </h1>
    </div>

    {% if lr_model.plot %}
        <img src="{{ lr_model.plot.url }}" >
    {% endif %}

    

    <h1>predict label of new data points</h1>
    <form action="{{ lr_model.get_absolute_url }}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <h1>the prediction:  {{ prediction }}</h1>

    <h1>delete this model</h1>
    <a href="{% url 'analytica:logistic_regression_delete' lr_model.id lr_model.slug %}">delete</a>

</body>
</html>