<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ pc_model.title }}</h1>
    {% if pc_model.plot %}
        <img src="{{ pc_model.plot.url }}" >
    {% endif %}

    <h1>Accuracy: {{ pc_model.model_accuracy }}</h1>

    <h1>predict label of new data points</h1>
    <form action="{{ pc_model.get_absolute_url }}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <h1>the prediction:  {{ prediction }}</h1>

</body>
</html>